<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
      <script src="{{ url_for('static', filename='js/jQuery.js') }}" charset="utf-8"></script>
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script>
      <script src="{{ url_for('static', filename='votaciones/js/ajax.js') }}" charset="utf-8"></script>

      <title>Catalogo</title>

   </head>

   <body>
      <div class="container">
         <div class="text-center">
            <div class="display-3">
               VOTACIONES REGIONALES 2020
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col">
               <div class="col-md 4">
                  <select id="slcCandidatos" class="browser-default custom-select">
                     <option selected>SELECCIONA UN CANDIDATO</option>
                     <option value="1">Candidato 1</option>
                     <option value="2">Candidato 2</option>
                     <option value="3">Candidato 3</option>
                  </select>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
              <div class="col col-md-12">
                <div class="mt-4">
                   <label for="basic-url">Ingresa tus credenciales</label>
                   <div class="input-group mb-3">
                      <div class="input-group-prepend">
                         <span class="input-group-text" id="basic-addon1">Direccion publica</span>
                      </div>
                      <input id="dirPublica" type="text" class="form-control" placeholder="0x3D6fe25264EA08469776D4930a95e7De21a7F033">
                   </div>
                   <div class="input-group mb-3">
                      <div class="input-group-prepend">
                         <span class="input-group-text" id="basic-addon1">Direccion privada</span>
                      </div>
                      <input id="dirPrivada" type="text" class="form-control" placeholder="c170c455241bb0742b2ca37ddd6c7c59c613ab39c01318874001ac46f61f0b37">
                   </div>
                   <div class="row">
                      <div class="col justify-content-center">
                         <div class="col-md-12">
                            <button id="btnVotar" class="btn btn-primary btn-block">VOTAR</button>
                         </div>
                      </div>
                      <div class="col justify-content-center">
                         <div class="col-md-12">
                            <button id="btnResultados" class="btn btn-primary btn-block">VER RESULTADOS</button>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mt-4 col col-md-12 text-center">
                <span id = "spanComprobante"></span>
              </div>
            </div>
         </div>
      </div>
   </body>

</html>
